<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habitkick">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".shared.ReferencedApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name="com.habitkick.home.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.habitkick.menu.MenuActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.habitkick.calibrate.CalibrateActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.habitkick.start.StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.habitkick.alert.AlertActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light" />

        <receiver
            android:name="com.habitkick.alert.AlertNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fiftyeightmorris.nailbiter.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MonitorService"
            android:enabled="true" />

        <service android:name=".WatchListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>

</manifest>
